@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    background-color: #c2e5e0;
} */

body {
    margin: 0;
  }
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

div.question {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p {
    font-size: 18px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}